body {
    margin: 1em;
    background-color: #43a047;
    font-family: "lucida grande",
        "lucida sans unicode",
        "Helvetica Neue",
        "Tahoma",
        "PingFang SC",
        "Hiragino Sans GB",
        "Source Han Sans CN Normal",
        "Heiti SC",
        "Microsoft YaHei",
        "WenQuanYi Micro Hei",
        "SimSun",
        sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1em;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.12) .25em .25em 1em .25em;
}

.container header {
    text-align: center;
    padding: 1.5em 0;
    box-sizing: border-box;
}

.container header h1 {
    margin: 0;
}

.container .description {
    margin: -0.7em 0;
}

.container .description p {
    margin: 0.7em 0;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

.container .description ul {
    padding-left: 2em;
    margin: 0.7em 0;
    letter-spacing: 0.02em;
}

.container .description ul li {
    line-height: 1.4em;
}

.field {
    padding-top: 0.7em;
}

.field textarea {
    border: 0;
    border-bottom: .125em solid rgba(0,0,0,.11);
    line-height: 1.3125em;
    font-family: 'Concolas', 'Monaco', 'Courier New', Courier, monospace;
    font-size: .875em;
    padding: 0.6em;
    box-sizing: border-box;

    width: 100%;
    height: 8em;
    display: block;
    resize: vertical;
}

.field .sub-container {
    text-align: center;
    padding: 0.4em 0;
}

.field .sub-container button {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 11em;
    height: 2.4em;
    border: 0;
    background-color: #43a047;
    color: #fff;
    font-size: 1em;
    border-radius: 0.4em;
}

/* https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}